[MASTER]
init-hook='import sys; sys.path.append("../stricto")'

# Whitelisting sqlite3 C extension
generated-members=sqlite3.connect

[DESIGN]
max-locals=20
max-attributes=20
max-branches=16
max-args = 7
max-positional-arguments = 7

[FORMAT]
max-line-length=240


[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=10

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=no


[MESSAGES CONTROL]
disable = 
    import-error,
    cyclic-import,  # due to Ref and RefsList mutual import
    wrong-import-position,
    dangerous-default-value,
    super-init-not-called, # Bug ?
    raising-format-tuple,
    singleton-comparison,
    assignment-from-none, # Normal
    protected-access # must be removed

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX # ,TODO